<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthorsDelete</servlet-name>
        <servlet-class>servlet.authors.AuthorsDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorsEdit</servlet-name>
        <servlet-class>servlet.authors.AuthorsEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorsCreate</servlet-name>
        <servlet-class>servlet.authors.AuthorsCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Readers</servlet-name>
        <servlet-class>servlet.readers.Readers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadersCreate</servlet-name>
        <servlet-class>servlet.readers.ReadersCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadersDelete</servlet-name>
        <servlet-class>servlet.readers.ReadersDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadersEdit</servlet-name>
        <servlet-class>servlet.readers.ReadersEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>servlet.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Books</servlet-name>
        <servlet-class>servlet.book.Books</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooksCreate</servlet-name>
        <servlet-class>servlet.book.BooksCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooksEdit</servlet-name>
        <servlet-class>servlet.book.BooksEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooksDelete</servlet-name>
        <servlet-class>servlet.book.BooksDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookStatuses</servlet-name>
        <servlet-class>servlet.bookstatuses.BookStatuses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PutBook</servlet-name>
        <servlet-class>servlet.bookstatuses.PutBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBook</servlet-name>
        <servlet-class>servlet.bookstatuses.GetBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookStatusDelete</servlet-name>
        <servlet-class>servlet.bookstatuses.BookStatusDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorsDelete</servlet-name>
        <url-pattern>/Authors/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorsEdit</servlet-name>
        <url-pattern>/Authors/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorsCreate</servlet-name>
        <url-pattern>/Authors/Create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Readers</servlet-name>
        <url-pattern>/Readers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadersCreate</servlet-name>
        <url-pattern>/Readers/Create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadersDelete</servlet-name>
        <url-pattern>/Readers/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadersEdit</servlet-name>
        <url-pattern>/Readers/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Books</servlet-name>
        <url-pattern>/Books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooksCreate</servlet-name>
        <url-pattern>/Books/Create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooksEdit</servlet-name>
        <url-pattern>/Books/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooksDelete</servlet-name>
        <url-pattern>/Books/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStatuses</servlet-name>
        <url-pattern>/BookStatuses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PutBook</servlet-name>
        <url-pattern>/BookStatuses/PutBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBook</servlet-name>
        <url-pattern>/BookStatuses/GetBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStatusDelete</servlet-name>
        <url-pattern>/BookStatuses/Delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
